body {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,37,64,1) 71%);
}

header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: aliceblue;
    gap: 28px;
    text-transform: uppercase;
}